
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SayHiWithView</title>
</head>
<body>
    <div>
        @for (int i = 0; i < 10; i++)
    {
        <h1>Oh Hi!</h1>
    }

    </div>
</body>
</html>
